html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.nav-link {
	padding: 3px 10px;
  display: block;
  color: #5a6270;
}


.nav-link:hover {
	text-decoration: none;
  opacity: 0.8;
}

.nav-link.active {
	color: #D84315;
	background-color: #F4F6F8;
}

h1, h2 {
  color: #D84315;
}